table.table.table-striped.table-hover.bc-table-sortable
    thead
        tr
            th.unsortable
                span.sortable-label ID
            th.sortable
                a(href="#")
                    span.sortable-label Aanspr.
                    span.sort-indicator
                        b.caret
                        b.caret.flipped
            th.sortable.sorted-asc
                a(href='#', title='Sorted ascending')
                    span.sortable-label Naam
                    span.sort-indicator
                        b.caret
                        b.caret.flipped
    tbody
        tr
            td 21
            td Dhr.
            td Karel De keizer
        tr
            td 22
            td Mevr.
            td Nina De Man