table.table.table-condensed.table-striped.table-hover.bc-table-sortable.table-nowrap
    thead
        tr
            th.checkbox-holder
                input(type="checkbox")
            th.sortable
                a(href="#")
                    span.label Aanspr.
            th.sortable.sorted-asc
                a(href='#', title='Sorted ascending')
                    span.label Naam
                    span.sort-indicator
                        b.caret
                        b.caret.flipped
    tbody
        tr
            td.checkbox-holder
                input(type="checkbox")
            td Dhr.
            td Karel De keizer
        tr
            td.checkbox-holder
                input(type="checkbox")
            td Mevr.
            td Nina De Man
