// Add type icon button
a.btn.btn-success.btn-icon(href="#")
    i.glyphicon.glyphicon-add
    span.sr-only Add

// Edit type icon button
a.btn.btn-success.btn-icon(href="#")
    i.glyphicon.glyphicon-edit
    span.sr-only Edit

// Trash type icon button
a.btn.btn-success.btn-icon(href="#")
    i.glyphicon.glyphicon-trash
    span.sr-only Delete

// Small one
a.btn.btn-default.btn-xs.btn-icon(href="#")
    i.glyphicon.glyphicon-add
    span.sr-only Button text