a.btn.btn-success(href="#")
    i.glyphicon.glyphicon-add
    span.btn-label Add

a.btn.btn-primary(href="#")
    i.glyphicon.glyphicon-edit
    span.btn-label Edit

a.btn.btn-default(href="#")
    i.glyphicon.glyphicon-trash
    span.btn-label Remove
