ul.bc-breadcrumbs
    li
        a(href="#")
            span.bc-breadcrumbs-label Item
    li
        a(href="#")
            span.bc-breadcrumbs-label Item
    li
        a(href="#")
            span.bc-breadcrumbs-label Item
    li.selected
        span.holder
            span.bc-breadcrumbs-label Item