.icon-delete { background-image: url('png/delete.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('png/edit.png'); background-repeat: no-repeat; }

.icon-invoices-i { background-image: url('png/invoices-i.png'); background-repeat: no-repeat; }

.icon-invoices { background-image: url('png/invoices.png'); background-repeat: no-repeat; }

.icon-list { background-image: url('png/list.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

.icon-settings-i { background-image: url('png/settings-i.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('png/settings.png'); background-repeat: no-repeat; }

.icon-stats-i { background-image: url('png/stats-i.png'); background-repeat: no-repeat; }

.icon-stats { background-image: url('png/stats.png'); background-repeat: no-repeat; }

.icon-users-i { background-image: url('png/users-i.png'); background-repeat: no-repeat; }

.icon-users { background-image: url('png/users.png'); background-repeat: no-repeat; }

.icon-warning { background-image: url('png/warning.png'); background-repeat: no-repeat; }

