extends ../../layouts/default

block append pageVariables
    - var pageTitle = "Clients"

block content

    .panel.panel-default
        table.table.table-align-middle
            tbody
                each client in contentData.clients
                    tr
                        td #{client.name}
                        td.table-actions-column
                            .btn-toolbar
                                a.btn.btn-default.btn-icon(href="/modules/invoices/delete.html")
                                    i.glyphicon.glyphicon-trash
                                    span.sr-only Delete
                                a.btn.btn-default.btn-icon(href="/modules/invoices/detail.html")
                                    i.glyphicon.glyphicon-edit
                                    span.sr-only Edit