.popover.top
    .arrow
    .popover-content.p0
        .popover-header
            .bc-navbar.bc-navbar-gray-light.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        .bc-navbar-brand.bc-navbar-brand-small Popover title
                .bc-navbar-right
                    .bc-navbar-divider
                        a.btn.btn-default.navbar-btn.btn-icon(href='#')
                            i.glyphicon.glyphicon-close
        .popover-content-inner
            p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .popover-footer
            .bc-navbar.bc-navbar-gray-light.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        a.btn.navbar-btn.btn-primary(href='#') Save

.popover.left
    .arrow
    .popover-content.p0
        .popover-header
            .bc-navbar.bc-navbar-gray-light.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        .bc-navbar-brand.bc-navbar-brand-small Popover title
                .bc-navbar-right
                    .bc-navbar-divider
                        a.btn.btn-default.navbar-btn.btn-icon(href='#')
                            i.glyphicon.glyphicon-close
        .popover-content-inner
            p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .popover-footer
            .bc-navbar.bc-navbar-gray-light.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        a.btn.navbar-btn.btn-primary(href='#') Save

.popover.bottom
    .arrow
    .popover-content.p0
        .popover-header
            .bc-navbar.bc-navbar-gray-light.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        .bc-navbar-brand.bc-navbar-brand-small Popover title
                .bc-navbar-right
                    .bc-navbar-divider
                        a.btn.btn-default.navbar-btn.btn-icon(href='#')
                            i.glyphicon.glyphicon-close
        .popover-content-inner
            p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .popover-footer
            .bc-navbar.bc-navbar-gray-light.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        a.btn.navbar-btn.btn-primary(href='#') Save

.popover.right
    .arrow
    .popover-content.p0
        .popover-header
            .bc-navbar.bc-navbar-gray-light.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        .bc-navbar-brand.bc-navbar-brand-small Popover title
                .bc-navbar-right
                    .bc-navbar-divider
                        a.btn.btn-default.navbar-btn.btn-icon(href='#')
                            i.glyphicon.glyphicon-close
        .popover-content-inner
            p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .popover-footer
            .bc-navbar.bc-navbar-gray-light.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        a.btn.navbar-btn.btn-primary(href='#') Save

