extends sign-in

block panel
    .panel.panel-default
        .panel-body
            h3.m0 Reset your password
        .panel-body
            .c-content
                p.m0 Forgot your password? No worries. Enter your e-mail address and we will send you an e-mail with a link to reset your password.
        .panel-body
            form(role='form')
                .bc-form-flex
                    label.control-label.sr-only Your e-mail
                    input.form-control(type='email', placeholder='Your e-mail address...')
                    input.btn.btn-primary(type='submit', value="Send")
