.btn-toolbar
  a.btn.btn-icon.btn-default.btn-loading(href='#')
    .bc-spinner
  a.btn.btn-default.btn-loading(href='#')
    .bc-spinner
    | Loading...
  a.btn.btn-default.btn-loading.btn-icon-right(href='#')
    .bc-spinner
    | Loading...