.bc-navbar.bc-navbar-medium.bc-navbar-default.bc-navbar-fixed-top
    .bc-navbar-left
        .bc-navbar-divider
            a.btn.btn-default(href='#')
                i.glyphicon.glyphicon-edit
                span.bc-navbar-btn-label Manage items
    .bc-navbar-right
        .bc-navbar-divider
            a.btn.btn-default(href='#')
                i.glyphicon.glyphicon-edit
                span.bc-navbar-btn-label Manage items
        .bc-navbar-divider
            .btn-toolbar
                a.btn.btn-sm.btn-default.disabled(href='#')
                    i.glyphicon.glyphicon-duplicate
                    span.bc-navbar-btn-label Copy
                a.btn.btn-default.btn-sm.disabled(href='#')
                    i.glyphicon.glyphicon-trash
                    span.bc-navbar-btn-label Delete
                a.btn.btn-sm.btn-success(href='#')
                    i.glyphicon.glyphicon-add
                    span.bc-navbar-btn-label Add
