.bc-navbar.bc-navbar-small.bc-navbar-default.bc-navbar-fixed-top
    .bc-navbar-left
        .bc-navbar-divider
            ul.bc-breadcrumbs
                li
                    a(href="#")
                        span.bc-breadcrumbs-label Item
                li
                    a(href="#")
                        span.bc-breadcrumbs-label Item
                li
                    a(href="#")
                        span.bc-breadcrumbs-label Item
                li.selected
                    span.holder
                        span.bc-breadcrumbs-label Item
    .bc-navbar-right
        .bc-navbar-divider
            a.btn.btn-xs.btn-default(href='#')
                i.glyphicon.glyphicon-edit
                span.bc-navbar-btn-label Manage items
        .bc-navbar-divider
            .btn-toolbar
                a.btn.btn-xs.btn-default.disabled(href='#')
                    i.glyphicon.glyphicon-duplicate
                    span.bc-navbar-btn-label Copy
                a.btn.btn-default.btn-xs.disabled(href='#')
                    i.glyphicon.glyphicon-trash
                    span.bc-navbar-btn-label Delete
                a.btn.btn-xs.btn-success(href='#')
                    i.glyphicon.glyphicon-add
                    span.bc-navbar-btn-label Add

