table.table.table-align-middle
    thead
        tr
            th Naam
            th.table-actions-column
    tbody
        tr
            td Karel De keizer
            td.table-actions-column
                .btn-toolbar
                  a.btn.btn-default.btn-xs.btn-ghost.btn-icon(href='#')
                      i.glyphicon.glyphicon-edit
                      span.sr-only Bewerk
                  a.btn.btn-default.btn-xs.btn-ghost.btn-icon(href='#')
                      i.glyphicon.glyphicon-trash
                      span.sr-only Verwijder
        tr
            td Nina De Man
            td.table-actions-column
                .btn-toolbar
                  a.btn.btn-default.btn-xs.btn-ghost.btn-icon(href='#')
                      i.glyphicon.glyphicon-edit
                      span.sr-only Bewerk
                  a.btn.btn-default.btn-xs.btn-ghost.btn-icon(href='#')
                      i.glyphicon.glyphicon-trash
                      span.sr-only Verwijder