.form-horizontal
  .form-group
      label.col-md-4.control-label
          | Password
          abbr(title="Required field") *
      .col-md-8
          input.form-control(type='password')
          .bc-password-strength-meter
              | Your password is <span class="bc-password-strength-level strong">strong</span>.
    .form-group
        label.col-md-4.control-label
            | Password
            abbr(title="Required field") *
        .col-md-8
            input.form-control(type='password')
            .bc-password-strength-meter
                | Your password is <span class="bc-password-strength-level weak">weak</span>.