extends ../../layouts/default

block append pageVariables
    - var pageTitle = "Statistics"

block content
    
    .grid-space-rows-evenly
        .row
            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Pie chart
                    .panel-body
                        .pie-chart-example
            .col-md-6
                .panel.panel-default
                    .panel-heading
                        h3.panel-title Column chart
                    .panel-body
                        .column-chart-example
