.popover.top
    .arrow
    .popover-content.p0
        .popover-header
            .bc-navbar.bc-navbar-gray-light.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        .bc-navbar-brand.bc-navbar-brand-small Choose a country
                .bc-navbar-right
                    .bc-navbar-divider
                        a.btn.btn-default.navbar-btn.btn-icon(href='#')
                            i.glyphicon.glyphicon-close
        .popover-content-inner
            .form-group
                .checkbox
                    label
                        input(type='checkbox')
                        | België
                .checkbox
                    label
                        input(type='checkbox')
                        | Nederland
                .checkbox
                    label
                        input(type='checkbox')
                        | Iran
        .popover-footer
            .bc-navbar.bc-navbar-gray-light.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        a.btn.navbar-btn.btn-primary(href='#') Save