// Label and icon
a.btn.btn-success(href="#")
    i.glyphicon.glyphicon-add
    span.btn-label Add

// Icon only
a.btn.btn-success.btn-icon(href="#")
    i.glyphicon.glyphicon-add
    span.sr-only Add