// Label and icon
a.btn.btn-default(href="#")
    i.glyphicon.glyphicon-trash
    span.btn-label Remove

// Icon only
a.btn.btn-default.btn-icon(href="#")
    i.glyphicon.glyphicon-trash
    span.sr-only Remove