// Small label only
a.btn.btn-default.btn-xs(href="#")
    span.btn-label I am a small button

// Small icon + label
a.btn.btn-default.btn-xs(href="#")
    i.glyphicon.glyphicon-add
    span.btn-label I am a small button

// Small icon button
a.btn.btn-default.btn-xs.btn-icon(href="#")
    i.glyphicon.glyphicon-add
    span.sr-only Button text

// Small + Icon on right + label
a.btn.btn-default.btn-xs.btn-icon-right(href="#")
    i.glyphicon.glyphicon-arrow-right
    span.btn-label Button text