// Label and icon
a.btn.btn-primary(href="#")
    i.glyphicon.glyphicon-edit
    span.btn-label Edit

// Icon only
a.btn.btn-default.btn-icon(href="#")
    i.glyphicon.glyphicon-edit
    span.sr-only Edit