label.control-label Form label
.form-group
    label.checkbox-inline
        input(type='checkbox')
        | Optie A
    label.checkbox-inline
        input(type='checkbox')
        | Optie B
    label.checkbox-inline
        input(type='checkbox')
        | Optie C
