.form-group.form-group-block-labels
    .checkbox
        label
            input(type='checkbox', value='')
            | Option one is this and that&mdash;be sure to include why it&apos;s great
    .checkbox.checkbox-disabled
        label
            input(type='checkbox', value='', disabled='')
            | Option two is disabled
