
label.control-label Form label
.form-group
    label.radio-inline
        input(type='radio')
        | Optie A
    label.radio-inline
        input(type='radio')
        | Optie B
    label.radio-inline
        input(type='radio')
        | Optie C
