extends /templates/_layouts/default

block append pageVariables
    - var pageTitle = "My Settings"

block navbarTopSecondaryContentControls
    a.btn.btn-primary(href="#") Save

block content
    .panel.panel-default
        .panel-body
            form.form-horizontal(role='form')
                .form-group
                    label.col-md-2.control-label Email
                    .col-md-10
                        p.form-control-static email@example.com
                .form-group
                    label.col-md-2.control-label Password
                    .col-md-10
                        input#inputPassword.form-control(type='password', placeholder='Enter password...')
