a.bc-block-list-item.bc-block-list-item-has-avatar(href="#")
    .bc-block-list-item-info
        .c-avatar JC
        .bc-block-list-item-info-text-holder
            .bc-block-list-item-info-text.bc-block-list-item-info-text-bold Heading
            .bc-block-list-item-info-text Description
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
a.bc-block-list-item.bc-block-list-item-has-avatar(href="#")
    .bc-block-list-item-info
        .c-avatar JC
        .bc-block-list-item-info-text-holder
            .bc-block-list-item-info-text.bc-block-list-item-info-text-bold Heading
            .bc-block-list-item-info-text Description
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
a.bc-block-list-item.bc-block-list-item-has-avatar(href="#")
    .bc-block-list-item-info
        .c-avatar JC
        .bc-block-list-item-info-text-holder
            .bc-block-list-item-info-text.bc-block-list-item-info-text-bold Heading
            .bc-block-list-item-info-text Description
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
