a.bc-block-list-item.bc-block-list-item-has-icon(href="#")
    .bc-block-list-item-info
        .bc-block-list-item-icon
            img(src="/images/form-plus.svg")
        .bc-block-list-item-info-text-holder
            .bc-block-list-item-info-text.bc-block-list-item-info-text-big Heading
            .bc-block-list-item-info-text Description
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
a.bc-block-list-item.bc-block-list-item-has-icon(href="#")
    .bc-block-list-item-info
        .bc-block-list-item-icon
            img(src="/images/form-plus.svg")
        .bc-block-list-item-info-text-holder
            .bc-block-list-item-info-text.bc-block-list-item-info-text-big Heading
            .bc-block-list-item-info-text Description
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
a.bc-block-list-item.bc-block-list-item-has-icon(href="#")
    .bc-block-list-item-info
        .bc-block-list-item-icon
            img(src="/images/form-plus.svg")
        .bc-block-list-item-info-text-holder
            .bc-block-list-item-info-text.bc-block-list-item-info-text-big Heading
            .bc-block-list-item-info-text Description
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
