a.bc-block-list-item.bc-block-list-item-single-line(href="#")
    .bc-block-list-item-info
        .bc-block-list-item-info-text
            .bc-block-list-item-info-text.bc-block-list-item-info-text-big Text
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
a.bc-block-list-item.bc-block-list-item-single-line(href="#")
    .bc-block-list-item-info
        .bc-block-list-item-info-text
            .bc-block-list-item-info-text.bc-block-list-item-info-text-big Text
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
a.bc-block-list-item.bc-block-list-item-single-line(href="#")
    .bc-block-list-item-info
        .bc-block-list-item-info-text
            .bc-block-list-item-info-text.bc-block-list-item-info-text-big Text
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
