.panel.panel-default
    .panel-heading
        .panel-controls.panel-controls-left
            h3.panel-title Panel with controls
        .panel-controls.panel-controls-right
            .btn-toolbar
                a.btn.btn-default(href="#")
                    span.glyphicon.glyphicon-add
                    span Voeg toe
    table.table.table-align-middle
        thead
            tr
                th Header
                th Header
                th Header
        tbody
            tr
                td Data
                td Data
                td Data
