.modal.fade.in(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Modal title  
            .alert.alert-danger
                p There were errors in the form! Please correct the marked fields.
            .modal-body
                form(role="form")
                    .form-group
                        label.control-label Field name
                        input.form-control(type='text')
                    .form-group.has-error
                        label.control-label Field name
                        select.form-control
                            option Option A
                            option Option B
                            option Option C
                        p.help-block Specific message about this field.
            .modal-footer
                .btn.btn-link.pull-left(data-dismiss='modal', href="#") Cancel
                .btn.btn-primary.pull-right(href="#") Save
