.form-inline
    .form-group
        input.form-control(type='text', placeholder='Placeholder value...')
    .checkbox
        label
            input(type='checkbox')
            | Label
    input.btn.btn-primary(type='submit')
