// Form with read-only value
form.form-horizontal(role='form')
    .row.form-group
        label.control-label.col-md-4 Field name
        .col-md-8
            input.form-control(type='text')
    .row.form-group
        label.control-label.col-md-4 Field name
        .col-md-8
            input.form-control(type='text')
    .row.form-group
        label.control-label.col-md-4 Field name
        .col-md-8
            p.form-control-static Read value
