
// Simple form (horizontal)
form.form-horizontal(role='form')
    .row.form-group
        label.control-label.col-md-4 Field name
        .col-md-8
            input.form-control(type='text')
    .row.form-group
        label.control-label.col-md-4 Field name
        .col-md-8
            select.form-control
                option Option A
                option Option B
                option Option C
    .row.form-group
        .col-md-8.col-md-offset-4
            button.btn.btn-primary Aanmelden
