extends ../../layouts/default

block append pageVariables
    - var pageTitle = "Form example"

block content
    
    // Hidden popover content
    .hide(data-popover-html="one")
        .popover-header
            .bc-navbar.bc-navbar-gray-lighter.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        .bc-navbar-brand.bc-navbar-brand-small Popover title
                .bc-navbar-right
                    .bc-navbar-divider
                        a.btn.btn-default.navbar-btn.btn-icon(href='#')
                            i.glyphicon.glyphicon-close
        .popover-content-inner
            p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        .popover-footer
            .bc-navbar.bc-navbar-gray-lighter.bc-navbar-medium
                .bc-navbar-left
                    .bc-navbar-divider
                        a.btn.navbar-btn.btn-primary(href='#', data-dismiss="popover") Save

    .panel.panel-default
        .panel-heading
            h3.panel-title Heading
        .panel-body
            form.form-horizontal(role='form')
                .grid-space-rows-evenly
                    .row
                        .col-md-6
                            .row.form-group
                                label.control-label.col-md-4 Field name
                                .col-md-8
                                    input.form-control(type='text')
                            .row.form-group
                                label.control-label.col-md-4 Field name
                                .col-md-8
                                    input.form-control(type='text')
                            .row.form-group
                                label.control-label.col-md-4 Field name
                                .col-md-8
                                    input.form-control(type='text')
                            .row.form-group
                                label.control-label.col-md-4 Field name
                                .col-md-8
                                    select.form-control
                                        option Option A
                                        option Option B
                                        option Option C
                            .row.form-group
                                .col-md-offset-4.col-md-8
                                    // If we link to href='/modules/form-modal-open.html' for when the user has no JS, this breaks?
                                    a.btn.btn-default(data-target="#example", data-toggle='modal')
                                        i.glyphicon.glyphicon-add
                                        span.label Trigger modal

                        .col-md-6
                            .row.form-group
                                label.control-label.col-md-4 Field name
                                .col-md-8
                                    input.form-control(type='text')
                            .row.form-group
                                label.control-label.col-md-4 Field name
                                .col-md-8
                                    input.form-control(type='text')
                            .row.form-group
                                label.control-label.col-md-4 Field name
                                .col-md-8
                                    input.form-control(type='text')
                            .row.form-group
                                label.control-label.col-md-4 Field name
                                .col-md-8
                                    select.form-control
                                        option Option A
                                        option Option B
                                        option Option C
                            .row.form-group
                                .col-md-offset-4.col-md-8
                                    a.btn.btn-default(href="#", data-popover-ref="one" tabindex="0", role="button")
                                        i.glyphicon.glyphicon-add
                                        span.label Trigger popover

block append modals
    include ../../includes/modals/example