// All gear image icons are supposed to be 2:1 ratio
.c-image-icon-holder {
  height: 14px;
  width: 28px;
  margin-right: 5px;
  display: inline-block;
}

.c-image-icon {
  height: 14px;
  width: 28px;
  display: block;
}