/* ==========================================================================
  c-iframe
   ========================================================================== */

.c-iframe-tall {
  border: none;
  background: #FFF;
  height: 1500px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 20px;
  display: block;
  border: 1px solid #CCC;
}
