/* ==========================================================================
  c-util
  Utilities to make containers scrollable, max height etc.
   ========================================================================== */

.c-util-maximize-height {
  height: 100%;
}

.c-util-disable-scroll {
  overflow: hidden;
}

.c-util-is-block {
  display: block;
}

.c-util-is-inline-block {
  display: inline-block;
}

.c-util-is-scrollable {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: $screen-sm) {

  .c-util-is-scrollable-at-sm {
    overflow: scroll;
  }

}

/* Spacing  reset
   ========================================================================== */

.m0 {
  margin: 0 !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.p0 {
  padding: 0 !important;
}