a.bc-block-list-item(href="#")
    .bc-block-list-item-info
        .bc-block-list-item-info-text-holder
            .bc-block-list-item-info-text.bc-block-list-item-info-text-bold Text
            .bc-block-list-item-info-text Description
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
a.bc-block-list-item(href="#")
    .bc-block-list-item-info
        .bc-block-list-item-info-text-holder
            .bc-block-list-item-info-text.bc-block-list-item-info-text-bold Text
            .bc-block-list-item-info-text Description
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
a.bc-block-list-item(href="#")
    .bc-block-list-item-info
        .bc-block-list-item-info-text-holder
            .bc-block-list-item-info-text.bc-block-list-item-info-text-bold Text Lorem
            .bc-block-list-item-info-text Description
    .bc-block-list-item-disclosure.btn.btn-icon
        i.glyphicon.glyphicon-arrow-right
